{{template "standard" .}}

{{define "title"}} EcoInstall | Home {{end}}

{{define "css"}}<link rel="stylesheet" href="static/css/index.css">{{end}}

{{define "content"}}
    <div class="intro">
        <h1 style="font-family: 'Bebas Neue', sans-serif; font-size: 3.2rem;"><i class="fa-solid fa-diagram-project" style="font-size: 2.6rem;"></i>  Our Project</h1>
        <br>
        <p>Our project "EcoInstall" is focused on providing accurate information as well as sustainable solutions for global problems like the
            environmental crisis. We provide accurate up-to-date information about the production and consumption of resources by different countries,
            that contribute to the global resource production and consumption. We have also included various solutions to various problems that arise with resource
            consumption and production. One of these solutions include the set up of solar panels and windmills by careful analysis of the various
            plans offered by various companies. We have analysed the most suitable plans for you based on factors like budget, available land area, etc.
        </p>
    </div>

    <div class="categories text-center">
        <h2>Categories</h2>
        <br>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 options" style="border-right: 5px solid rgb(15, 15, 15);">
                <h4>Global Resource Production and Consumption Statistics</h4>
                <br>
                <img src="static/img/analytics.png" alt="statistics" class="img-fluid">

                <br>
                <br>

                <a href="/resource-production" class="category-links">Global Resource Production</a>
                <br>
                <br>
                <a href="/resource-consumption" class="category-links">Global Resource Consumption</a>
                <br>
                <br>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 options" style="border-left: 5px solid rgb(15, 15, 15);">
                <h4>Solar Panel And Wind Turbine Setup</h4>
                <br>
                <img src="static/img/solar-energy.png" alt="solar_panel" class="img-fluid">

                <br>
                <br>

                <a href="/solar" class="category-links">Solar Panel Setup Plans</a>
                <br>
                <br>
                <a href="/solar-profit" class="category-links">Solar Panel Profit Calculator</a>
                <br>
                <br>
            </div>
        </div>
    </div>        
{{end}}

{{define "js"}} <script src="static/js/index.js"></script> {{end}}