{{template "standard" .}}

{{define "title"}} Global Resource Production {{end}}

{{define "css"}} <link rel="stylesheet" href="/static/css/resource-status.css"> {{end}}

{{define "content"}}
    {{$production := index .Data "countryProduction"}}

    <form action="" method="post" class="text-center">
        <h2>Get Data On Resource Production of a Country</h2>
        <br>
        <div class="row" style="width: 100%;">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 fields">
                <label for="country" style="margin-bottom: 3%;">Enter desired country: </label>
                <br>
                <input required type="text" name="country" id="country" placeholder="Enter a country" class="form-control" value="{{if index .Data "countryProduction"}} {{$production.Country}} {{end}}">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 fields">
                <label for="year" style="margin-bottom: 3%;">Enter desired year: </label>
                <br>
                <input required type="text" name="year" id="year" placeholder="Enter desired year" class="form-control" value="{{if index .Data "countryProduction"}} {{$production.Year}} {{end}}">
            </div>
        </div>
        <br>
        <button class="btn btn-primary">Submit</button>

        {{if index .Errors "productionCountryNotFound"}}
            <br>
            <br>
            <label class="text-danger">{{index .Errors "productionCountryNotFound"}}</label>
        {{end}}    
        
        {{if index .Data "countryProduction"}}
            <br>
            <br>
            <table class="table table-striped table-dark">
                <tr>
                    <td>Country</td>
                    <td>Code</td>
                    <td>Year</td>
                    <td>Gas Production (TWh)</td>
                    <td>Coal Production (TWh)</td>
                    <td>Oil Production (TWh)</td>
                </tr>

                <tr>
                    <td>{{$production.Country}}</td>
                    <td>{{$production.Code}}</td>
                    <td>{{$production.Year}}</td>
                    <td>{{$production.GasProduction}}</td>
                    <td>{{$production.CoalProduction}}</td>
                    <td>{{$production.OilProduction}}</td>
                </tr>
            </table>

            <br>
            <br>

            <a href="/static/databases/resource_production.csv" download="resource_production.csv" class="btn btn-primary">Download Complete Data As .csv</a>
            <br><br>
            <p>Data from <a href="https://ourworldindata.org/fossil-fuels">OurWorldInData</a></p>
        {{end}}
    </form>
{{end}}