{{template "standard" .}}

{{define "title"}} EcoInstall | Solar Analysis {{end}}

{{define "css"}} <link rel="stylesheet" href="/static/css/solar.css.css"> {{end}}

{{define "content"}}
    <form method="post">
        <h2>Enter Details To Get a Suitable Plan</h2>
        <br>
        <label for="land_area">Enter available land area (in square feet)</label>
        <br>
        <input type="text" placeholder="Land area (in square feet)" name="land_area" class="form-control">
        <br>
        
        <label for="power">Enter Power Needed (in kVA)</label>
        <br>
        <input type="text" placeholder="Power (kVA)" name="power" class="form-control">
        <br>

        <label for="billCurrent">Enter existing current bill (annual)</label>
        <br>
        <input type="text" placeholder="Electricity bill (annual)" name="billCurrent" class="form-control" required>
        <br>

        <p>Check available plans <a href="/solar-plans">here</a></p>
        <br>

        <button class="btn btn-primary">Submit</button>
        <a class="btn btn-primary" href="/solar-profit">Profit Calculator</a>
        {{if index .Errors "invalidFormat"}}
            <br>
            <label class="text-danger">{{index .Errors "invalidFormat"}}</label>
            <br>
        {{end}}
    </form>
{{end}}


