{{template "standard" .}}

{{define "title"}} Solar - Profit Calculator {{end}}

{{define "css"}} <link rel="stylesheet" href="/static/css/solar.css.css"> {{end}}

{{define "content"}}
    <form method="post">
        <h2>Solar Setup Profit Calculator</h2>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <label for="plan">Choose a Plan</label>
                <br>
                <br>
                <input list="plans" class="form-control" placeholder="Choose plan from dropdown" name="plan">
                <datalist id="plans">
                    <option value="Solution A (Tata Solar)"></option>
                    <option value="Solution B (Tata Solar)"></option>
                    <option value="Solution C (Tata Solar)"></option>
                    <option value="Solution D (Tata Solar)"></option>
                    <option value="Solution 1 (Tata Solar)"></option>
                    <option value="Solution 2 (Tata Solar)"></option>
                    <option value="Solution 3 (Tata Solar)"></option>
                    <option value="Solution 4 (Tata Solar)"></option>
                    <option value="Solution 5 (Tata Solar)"></option>
                    <option value="Solution 6 (Tata Solar)"></option>
                </datalist>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <label for="existingCost">Current Monthly Electricity Bill</label>
                <br>
                <br>
                <input type="text" name="existingCost" id="" class="form-control" placeholder="Enter existing electricity bill (per month)">
            </div>
        </div>

        <br>
        
        <button class="btn btn-primary">Submit</button>
    </form>

{{end}}